.left-side {
  color: #333;
  background-color: white;
  padding: 0 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  .app-launcher-btn {
    color: #333;
    box-shadow: none;
    min-width: 1.3rem;
    min-height: 1.3rem;
    padding: 0.25rem;
    border-radius: 15px;
    transition: all 200ms ease-in-out;

    &:hover {
      color: white;
      background: #333;
    }
  }

  .active-window-btn {
    color: #333;
    box-shadow: none;
    min-width: 1.3rem;
    min-height: 1.3rem;
    padding: 0rem 1.0rem;
    border-radius: 15px;
    transition: all 200ms ease-in-out;

    &:hover {
      color: white;
      background: #333;
    }
  }
}
