@import '../components/audio/audio.scss';
@import '../components/power-widget/power-widget.scss';

.right-side {
  color: #333;
  background: white;
  padding: 0 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
